<div class="text-center mb-2">
    <div class="cover-container d-flex w-100 h-100 p-1 mx-auto flex-column">
        <div class="align-center mt-3">
            <div #screen class="bg p-1">
                <div>
                    <img src="../../../assets/images/Logo.png" width="110px" height="80px" class="mb-4">
                    <h1>New Year <br> Bible Verse 2025</h1>
                    <div class="mb-2 mt-3">
                        <div *ngIf="showClickMe">
                            <img (click)="generateBible()" class="mt-5 clickBible"
                                src="../../../assets/images/Gen-button.png" width="150px">
                        </div>
                        <div *ngIf="!showClickMe" class="transparent-box">
                            <p class="f-14">{{ currentVerse?.verse }}</p>
                            <p class="fw-bolder">{{ currentVerse?.reference }}</p>
                        </div>
                        <img class="mt" src="../../../assets/images/BG.png" height="300px">
                    </div>
                </div>
            </div>
            <div *ngIf="!showClickMe" class="mb-5">
                <img (click)="download()" class="mt-3" src="../../../assets/images/download.png" width="100px">
                <p class="text-white my-4">Share on social media</p>
                <div class="mt-5">
                    <img (click)="shareOnX()" class="me-4" src="../../../assets/images/twitter.png">
                    <img (click)="shareOnFacebook()" class="me-4" src="../../../assets/images/FB.png">
                    <!-- <img class="me-4" src="../../../assets/images/IG.png"> -->
                    <img (click)="copyLink()" src="../../../assets/images/TT.png">
                </div>
            </div>
        </div>
    </div>

</div>
<footer class="fixed-bottom text-white text-center py-1 f-12">
    <span>@2025 HIC. All Rights Reserved</span>
</footer>